USE [ManagerStudent]
GO
/****** Object:  Table [dbo].[classes]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[classes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[point]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[point](
	[idStudent] [int] NOT NULL,
	[idSubject] [int] NOT NULL,
	[numberOfTimes] [int] NOT NULL,
	[points] [float] NULL,
	[alias] [varchar](100) NULL,
 CONSTRAINT [pk_point] PRIMARY KEY CLUSTERED 
(
	[idStudent] ASC,
	[idSubject] ASC,
	[numberOfTimes] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[role]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[student]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[dateOfBirth] [date] NULL,
	[image] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
	[idClass] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[subject]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[subject](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[alias] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[teacher]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[teacher](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[dateOfBirth] [date] NULL,
	[image] [nvarchar](100) NULL,
	[username] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[idRole] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[userRefreshToken]    Script Date: 04/08/2022 09:31:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[userRefreshToken](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[token] [varchar](200) NOT NULL,
	[refreshToken] [varchar](100) NOT NULL,
	[createdDate] [datetime] NOT NULL,
	[expirationDate] [datetime] NOT NULL,
	[ipAddress] [varchar](100) NOT NULL,
	[isInvalidated] [bit] NULL DEFAULT ((0)),
	[teacherId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[classes] ON 

INSERT [dbo].[classes] ([id], [name], [alias]) VALUES (1, N'Lớp 10DHTH7', N'lop-10dhth7')
INSERT [dbo].[classes] ([id], [name], [alias]) VALUES (2, N'Lớp 10DHTH33', N'lop-10dhth33')
SET IDENTITY_INSERT [dbo].[classes] OFF
INSERT [dbo].[point] ([idStudent], [idSubject], [numberOfTimes], [points], [alias]) VALUES (1, 2, 1, 6, N'1-2-1')
INSERT [dbo].[point] ([idStudent], [idSubject], [numberOfTimes], [points], [alias]) VALUES (2, 2, 1, 6, N'2-2-1')
SET IDENTITY_INSERT [dbo].[role] ON 

INSERT [dbo].[role] ([id], [name], [alias]) VALUES (1, N'admin', N'admin')
INSERT [dbo].[role] ([id], [name], [alias]) VALUES (2, N'Nhân viên', N'nhan-vien')
SET IDENTITY_INSERT [dbo].[role] OFF
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([id], [name], [dateOfBirth], [image], [alias], [idClass]) VALUES (1, N'Dương Ðông Duy', CAST(N'2001-06-12' AS Date), N'', N'duong-dong-duy-6122001', 1)
INSERT [dbo].[student] ([id], [name], [dateOfBirth], [image], [alias], [idClass]) VALUES (2, N'Nguyễn Tuấn Kiệt', CAST(N'2001-07-12' AS Date), N'', N'nguyen-tuan-kiet-7122001', 2)
SET IDENTITY_INSERT [dbo].[student] OFF
SET IDENTITY_INSERT [dbo].[subject] ON 

INSERT [dbo].[subject] ([id], [name], [alias]) VALUES (1, N'Nhập môn lập trình', N'nhap-mon-lap-trinh')
INSERT [dbo].[subject] ([id], [name], [alias]) VALUES (2, N'Lập trình hướng đối tượng', N'lap-trinh-huong-doi-tuong')
SET IDENTITY_INSERT [dbo].[subject] OFF
SET IDENTITY_INSERT [dbo].[teacher] ON 

INSERT [dbo].[teacher] ([id], [name], [dateOfBirth], [image], [username], [password], [idRole]) VALUES (1, N'Nguyễn Thị Thuỳ Trang', CAST(N'2022-08-10' AS Date), N'Images/6KCM16U4.jpg', N'thuytrang', N'827ccb0eea8a706c4c34a16891f84e7b', 1)
INSERT [dbo].[teacher] ([id], [name], [dateOfBirth], [image], [username], [password], [idRole]) VALUES (2, N'Trần Như Ý', CAST(N'1980-03-10' AS Date), N'', N'nhuy', N'827ccb0eea8a706c4c34a16891f84e7b', 2)
SET IDENTITY_INSERT [dbo].[teacher] OFF
SET IDENTITY_INSERT [dbo].[userRefreshToken] ON 

INSERT [dbo].[userRefreshToken] ([id], [token], [refreshToken], [createdDate], [expirationDate], [ipAddress], [isInvalidated], [teacherId]) VALUES (44, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwibmJmIjoxNjU5MjQ2MTcwLCJleHAiOjE2NTkyNDYzNTAsImlhdCI6MTY1OTI0NjE3MH0.o5NigocyEWt5BzPr5_759t5msKDiRF0od3TOtgsMcM0', N'Y9VQjogU+cORps2aniaBcuEb0Idt4ebNbH+hu7lNzvaaEgX+KdNqy2/pbiObWVoj8AK1z1/QpsuKF35l2yJnDA==', CAST(N'2022-07-31 05:42:50.817' AS DateTime), CAST(N'2022-08-05 05:42:50.817' AS DateTime), N'::1', 1, 1)
INSERT [dbo].[userRefreshToken] ([id], [token], [refreshToken], [createdDate], [expirationDate], [ipAddress], [isInvalidated], [teacherId]) VALUES (45, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwibmJmIjoxNjU5MjQ3NTc4LCJleHAiOjE2NTkyNDc3NTgsImlhdCI6MTY1OTI0NzU3OH0.t8m5iy3jCb1LnqS7SKQuL6Mdk-htCif3VrS9GfNFjjU', N'D54lpVDSwB/eHPse8BYW9okPjATAMbGiqz2cjvN82ksbYRy/3pge3xuyeH6XJMyJ5c8184wc0Zcvwuua6qti6Q==', CAST(N'2022-07-31 06:06:18.593' AS DateTime), CAST(N'2022-08-05 06:06:18.593' AS DateTime), N'::1', 1, 1)
INSERT [dbo].[userRefreshToken] ([id], [token], [refreshToken], [createdDate], [expirationDate], [ipAddress], [isInvalidated], [teacherId]) VALUES (46, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJuYW1laWQiOiIxIiwibmJmIjoxNjU5MzUyNDE3LCJleHAiOjE2NTkzNTI1OTYsImlhdCI6MTY1OTM1MjQxN30.jjqDW-eQUiJap0R7ozYt8zdanQWFBw8OZsF8vdPsqWs', N'XGcgfbD2dvIbfbN6p3yzqF4dAM3SMZ6Y5kkhZNZirTX58xEL5thVL+6j6Swk7C6R/jUfs4SyrCuQ38c1LB0zYw==', CAST(N'2022-08-01 11:13:38.320' AS DateTime), CAST(N'2022-08-06 11:13:38.320' AS DateTime), N'::1', 0, 1)
GO
SET IDENTITY_INSERT [dbo].[userRefreshToken] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__classes__8C585C04838ED8C0]    Script Date: 04/08/2022 09:31:26 ******/
ALTER TABLE [dbo].[classes] ADD UNIQUE NONCLUSTERED 
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__point__8C585C0438B0117D]    Script Date: 04/08/2022 09:31:26 ******/
ALTER TABLE [dbo].[point] ADD UNIQUE NONCLUSTERED 
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__role__8C585C04E5293B35]    Script Date: 04/08/2022 09:31:26 ******/
ALTER TABLE [dbo].[role] ADD UNIQUE NONCLUSTERED 
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__subject__8C585C04E1D88422]    Script Date: 04/08/2022 09:31:26 ******/
ALTER TABLE [dbo].[subject] ADD UNIQUE NONCLUSTERED 
(
	[alias] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UQ__teacher__F3DBC5721786E63F]    Script Date: 04/08/2022 09:31:26 ******/
ALTER TABLE [dbo].[teacher] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_student] FOREIGN KEY([idStudent])
REFERENCES [dbo].[student] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_student]
GO
ALTER TABLE [dbo].[point]  WITH CHECK ADD  CONSTRAINT [fk_point_subject] FOREIGN KEY([idSubject])
REFERENCES [dbo].[subject] ([id])
GO
ALTER TABLE [dbo].[point] CHECK CONSTRAINT [fk_point_subject]
GO
ALTER TABLE [dbo].[student]  WITH CHECK ADD  CONSTRAINT [fk_student_classes] FOREIGN KEY([idClass])
REFERENCES [dbo].[classes] ([id])
GO
ALTER TABLE [dbo].[student] CHECK CONSTRAINT [fk_student_classes]
GO
ALTER TABLE [dbo].[teacher]  WITH CHECK ADD  CONSTRAINT [fk_teacher_role] FOREIGN KEY([idRole])
REFERENCES [dbo].[role] ([id])
GO
ALTER TABLE [dbo].[teacher] CHECK CONSTRAINT [fk_teacher_role]
GO
ALTER TABLE [dbo].[userRefreshToken]  WITH CHECK ADD  CONSTRAINT [fk_userRefreshToken_teacher] FOREIGN KEY([teacherId])
REFERENCES [dbo].[teacher] ([id])
GO
ALTER TABLE [dbo].[userRefreshToken] CHECK CONSTRAINT [fk_userRefreshToken_teacher]
GO
